<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78851741744-tq1ep96bi0alase7seuubcjrnm0gq6h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78851741744-tq1ep96bi0alase7seuubcjrnm0gq6h2</string>
	<key>API_KEY</key>
	<string>AIzaSyDQjMLBiPI-TuZQ0B4y7hpXLqxDfrr26uc</string>
	<key>GCM_SENDER_ID</key>
	<string>78851741744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pej4more.namenayoutaxi</string>
	<key>PROJECT_ID</key>
	<string>nayoutaxi</string>
	<key>STORAGE_BUCKET</key>
	<string>nayoutaxi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78851741744:ios:a1c981ff38d7d9604735f5</string>
	<key>DATABASE_URL</key>
	<string>https://nayoutaxi-default-rtdb.firebaseio.com</string>
</dict>
</plist>